<!DOCTYPE html>
<html>
<head>
    <title>Create UserModel</title>
    <!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
<form method="get" action="user/createuser">
    <label for="name">Choose a Name:</label>
    <input type="text" required="required" placeholder="Your Name..." name="name">
    <br><br>
    <label for="ph">Choose a PH#:</label>
    <input type="text" required="required" placeholder="Ph No..." name="ph">
    <br><br>
    <input type="submit" value="OK">
</form>
</body>
</html>
