<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
  </head>
  <body>
  <form method="get" action="/add">
    <label for="cars">Choose a Category:</label>
    <input type="text" placeholder="Category..." name="category">
    <br><br>
<!--    <label for="cars">Choose a Sub-Category:</label>-->
<!--    <input type="text" placeholder="Sub-Category..." name="subcategory">-->
<!--    <br><br>-->
    <input type="checkbox" id="checkBox" name="checkBox">
    <label for="checkBox">Multiple Urls</label>
    <input type="text" placeholder="Url..." name="url" id="url"><br><br>
    <input type="submit" value="OK">
  </form>
  </body>
</html>
